.luckyGif {
  position: absolute;
  margin: 0px;
  padding: 0px;
  display: block;
  pointer-events: none;
 }

 div#lucky{
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  pointer-events: none;
   z-index: 50;
 }
  h1{color:#F00}
